Given timestamps of logins, figure out how many people on Facebook were active all
seven days of a week on a mobile phone?

In [1]:
import pandas as pd
import numpy as np

In [2]:
#First I will sort so that we are only looking at Mobile phone users

In [ ]:
mobile_data = data[data['interface'] == 'Mobile'].copy()

In [ ]:
#Convert timestamps to days

In [ ]:
mobile_data['day'] = mobile_data['login'].resample('D')

In [ ]:
#Sort for last 7 days

In [ ]:
last_week = mobile_data[mobile_data['day'] > pd.to_datetime('2018-03-13')]

In [ ]:
filtered_week = last_week.drop(['login'], axis=1)

In [ ]:
filtered_week.drop_duplicates(inplace=True)

In [ ]:
counts = filtered_week.groupby('user').count()

In [ ]:
all_seven = counts[counts['day'] == 7]['user']

How do you determine what product in Facebook was used most by the non-employee
users for the last quarter?

In [3]:
#Assuming that a count of users will be sufficient. Other options include a count of logins

In [ ]:
#First, lets sort for all users that are not employees
non_ee = data[data['EE'] == False].copy()

In [ ]:
#Now we can group by product
products = non_ee.groupby('Product').count() #This allows us to count logins. Could use mean login time, etc.

In [ ]:
products.sort_values(['logins'], ascending = False)[0]

Merging some stuff

In [38]:
user_usage = pd.read_csv('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_usage.csv')
user_device = pd.read_csv('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_device.csv')
android_devices = pd.read_csv('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/android_devices.csv')

In [39]:
user_usage.head(2)

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788

In [45]:
user_device.head(2)

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3

In [46]:
android_devices.head(2)

  Retail Branding Marketing Name  Device                      Model
0             NaN            NaN  AD681H  Smartfren Andromax AD681H
1             NaN            NaN   FJL21                      FJL21

In [56]:
merged = user_usage.merge(user_device[['use_id', 'device', 'platform']], on='use_id', how='left')

In [57]:
merged.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,device,platform
0,21.97,4.82,1557.33,22787,GT-I9505,android
1,1710.08,136.88,7267.55,22788,SM-G930F,android
2,1710.08,136.88,7267.55,22789,SM-G930F,android
3,94.46,35.17,519.12,22790,D2303,android
4,71.59,79.26,1557.33,22792,SM-G361F,android

In [63]:
final_merge = merged.merge(android_devices[['Retail Branding', 'Model']], left_on='device', right_on='Model', how='left')

In [65]:
final_merge.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,device,platform,Retail Branding,Model
0,21.97,4.82,1557.33,22787,GT-I9505,android,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,SM-G930F,android,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,SM-G930F,android,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,D2303,android,Sony,D2303
4,71.59,79.26,1557.33,22792,SM-G361F,android,Samsung,SM-G361F

In [68]:
final_merge.groupby('Retail Branding').mean()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id
Retail Branding,,,,
HTC,299.842955,93.059318,5144.077955,22893.431818
Huawei,81.526667,9.500000,1561.226667,22974.333333
LGE,111.530000,12.760000,1557.330000,22907.000000
Lava,60.650000,261.900000,12458.670000,23004.000000
Lenovo,215.920000,12.930000,1557.330000,22974.000000
Motorola,95.127500,65.666250,3946.500000,22999.437500
OnePlus,354.855000,48.330000,6575.410000,22937.166667
Samsung,191.010093,92.390463,4017.318889,22922.944444
Sony,177.315625,40.176250,3212.000625,22905.125000
Vodafone,42.750000,46.830000,5191.120000,23053.000000
ZTE,42.750000,46.830000,5191.120000,23053.000000