 Write an SQL query that makes recommendations using the pages that your friends liked. Assume you have two tables: a two-column table of users and their friends, and a two-column table of users and the pages they liked. It should not recommend pages you already like.

In [1]:
import pandas as pd
import numpy as np
import random

In [59]:
friends = pd.DataFrame({'user': [random.randrange(1, 3000) for x in range(1,1000)],
                        'friends': [[random.randrange(1, 3000), random.randrange(1, 3000), random.randrange(1, 3000)] for x in range(1,1000)]
                       })
liked_pages = pd.DataFrame(
    {'user': [random.randrange(1, 3000) for x in range(1, 1000)],
     'pages': [[random.randrange(1, 100), random.randrange(1, 100), random.randrange(1, 100)] for x in range(1,1000)]}
    )

In [60]:
friends = friends.drop_duplicates('user')

In [61]:
liked_pages = liked_pages.drop_duplicates('user')

In [62]:
combined_df = friends.merge(liked_pages, how='left', on='user')

In [64]:
combined_df.head()

             friends  user         pages
0  [1083, 530, 2320]  1544           NaN
1  [1968, 833, 2713]  1200  [56, 50, 35]
2  [2191, 1771, 851]  2229           NaN
3  [2062, 1734, 418]   637           NaN
4  [149, 1631, 2543]  1046  [48, 20, 88]

In [108]:
combined_df['recommendations'] = combined_df.apply(lambda row: find_recommendations(row), axis=1)

TypeError: ("'float' object is not iterable", 'occurred at index 0')

In [106]:
combined_df.head()

             friends  user         pages recommendations
0  [1083, 530, 2320]  1544           NaN           [nan]
1  [1968, 833, 2713]  1200  [56, 50, 35]   [[4, 54, 50]]
2  [2191, 1771, 851]  2229           NaN              []
3  [2062, 1734, 418]   637           NaN              []
4  [149, 1631, 2543]  1046  [48, 20, 88]           [nan]

In [107]:
def find_recommendations(row):
    recommendations = []
    for friend in row['friends']:
        for rec in combined_df[combined_df['user'] == friend]['pages']:
            if len(list(rec)) > 0:
                recommendations.append(rec)
    return recommendations

In [34]:
recommendations = []
for friend in combined_df[combined_df['user'] == 11]['friends'][0]:
    recommendations.append(combined_df[combined_df['friends'] == friend]['pages'])

Given two tables Friend_request (requester_id, sent_to_id , time) Request_accepted (acceptor_id, requestor_id, time) Find the overall acceptance rate of requests.

In [ ]:
times = random.randrange(1, 900000) for

In [36]:
Friend_request = pd.DataFrame({'requester_id': [random.randrange(1, 100) for x in range(1,1000)],
                               'sent_to_id': [random.randrange(1, 100) for x in range(1,1000)],
                               'time': [random.randrange(1, 90000000) for x in range(1,1000)]})
Request_accepted = pd.DataFrame({'requester_id': [random.randrange(1, 100) for x in range(1,1000)],
                                 'acceptor_id': [random.randrange(1, 100) for x in range(1,1000)],
                                 'time': [random.randrange(1, 90000000) for x in range(1,1000)]})

In [41]:
Friend_request.drop_duplicates(['requester_id', 'sent_to_id'], inplace=True)

In [42]:
Request_accepted.drop_duplicates(['requester_id', 'acceptor_id'], inplace=True)

In [45]:
Friend_request.head()

   requester_id  sent_to_id      time
0            56          85  89885331
1            70           5  69937165
2            93           6  81152049
3             8          63  34818113
4            46          84  60734606

In [46]:
Request_accepted.head()

   acceptor_id  requester_id      time
0           66            55  13087434
1           76            65  66720721
2           10            36   8401433
3           27             9  23193338
4           87            43  73906804

In [53]:
combined_df = Friend_request.merge(Request_accepted, how='inner', left_on=['requester_id', 'sent_to_id'], right_on=['requester_id', 'acceptor_id'])

In [56]:
combined_df.shape[0] / Friend_request.shape[0]

0.09272918861959958