# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [12]:
crime = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv')

### Step 4. What is the type of the columns?

In [13]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null int64
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: int64(12)
memory usage: 5.2 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [14]:
crime['Year'] = pd.to_datetime(crime['Year'], format = '%Y')

### Step 6. Set the Year column as the index of the dataframe

In [22]:
crime = crime.set_index('Year')

### Step 7. Delete the Total column

In [23]:
crime = crime.drop('Total', axis = 1)

ValueError: labels ['Total'] not contained in axis

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [25]:
crimes = crime.resample('10AS').sum()

In [29]:
population = crime['Population'].resample('10AS').max()

In [32]:
population

Year
1960-01-01    201385000.0
1970-01-01    220099000.0
1980-01-01    248239000.0
1990-01-01    272690813.0
2000-01-01    307006550.0
2010-01-01    318857056.0
2020-01-01            NaN
Name: Population, dtype: float64

In [37]:
crimes['Population'] = population

### Step 9. What is the mos dangerous decade to live in the US?

In [39]:
crimes

,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft,Population
Year,,,,,,,,,,
1960-01-01,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100,201385000.0
1970-01-01,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900,220099000.0
1980-01-01,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411,248239000.0
1990-01-01,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418,272690813.0
2000-01-01,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834,307006550.0
2010-01-01,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080,318857056.0
2020-01-01,0,0,0,0,0,0,0,0,0,NaN

In [40]:
crimes['per_capita_crime_rate'] = (crimes['Violent']
                                 + crimes['Property'] 
                                 + crimes['Murder']
                                 + crimes['Forcible_Rape']
                                 + crimes['Robbery']
                                 + crimes['Aggravated_assault']
                                 + crimes['Burglary']
                                 + crimes['Larceny_Theft']
                                 + crimes['Vehicle_Theft']) / crimes['Population']

In [44]:
crimes['per_capita_crime_rate'].idxmax()

Timestamp('1980-01-01 00:00:00')