# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [20]:
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 3. Assign it to a variable called chipo.

In [21]:
chipo = data.copy()

### Step 4. How many products cost more than $10.00?

In [29]:
chipo['item_price'] = chipo.apply(lambda row: float(row['item_price'].strip('$')), axis=1)

In [33]:
over_10 = chipo[chipo['item_price'] > 10]

In [38]:
over_10.groupby(['item_name']).max().count()

order_id              31
quantity              31
choice_description    27
item_price            31
dtype: int64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [40]:
prices = chipo[['item_name', 'item_price']]

### Step 6. Sort by the name of the item

In [46]:
prices.sort_values(['item_name']).drop_duplicates(['item_name'])

                                  item_name  item_price
3389                      6 Pack Soft Drink       12.98
418                           Barbacoa Bowl        9.25
1202                       Barbacoa Burrito       11.75
1019                  Barbacoa Crispy Tacos        8.99
3546                    Barbacoa Salad Bowl       11.89
3548                    Barbacoa Soft Tacos       11.75
2441                          Bottled Water        7.50
673                                    Bowl        7.40
760                                 Burrito        7.40
1142                            Canned Soda        1.09
964                       Canned Soft Drink        1.25
1359                          Carnitas Bowl        8.99
1097                       Carnitas Burrito       11.75
554                   Carnitas Crispy Tacos        9.25
3750                         Carnitas Salad        8.99
2610                    Carnitas Salad Bowl       11.89
2299                    Carnitas Soft Tacos        9.25
4555                           Chicken Bowl        8.75
2026                        Chicken Burrito        8.75
1027                   Chicken Crispy Tacos       10.98
2968                          Chicken Salad        8.49
3117                     Chicken Salad Bowl        8.75
1496                     Chicken Soft Tacos        8.49
2193                                  Chips        2.15
3506           Chips and Fresh Tomato Salsa        2.39
311                     Chips and Guacamole        4.45
674       Chips and Mild Fresh Tomato Salsa        3.00
2602     Chips and Roasted Chili Corn Salsa        2.95
1458     Chips and Roasted Chili-Corn Salsa        2.39
1593  Chips and Tomatillo Green Chili Salsa        2.95
1999    Chips and Tomatillo Red Chili Salsa        2.95
3657  Chips and Tomatillo-Green Chili Salsa        4.78
2972    Chips and Tomatillo-Red Chili Salsa        7.17
521                            Crispy Tacos        7.40
1213                                   Izze        3.39
2379                       Nantucket Nectar        6.78
1414                                  Salad        7.40
1120                          Side of Chips        1.69
3190                             Steak Bowl       11.75
4546                          Steak Burrito        9.25
3503                     Steak Crispy Tacos        9.25
752                             Steak Salad        8.99
4391                       Steak Salad Bowl        9.39
4549                       Steak Soft Tacos        9.25
2326                            Veggie Bowl        8.75
1959                         Veggie Burrito       11.25
1653                    Veggie Crispy Tacos        8.49
3471                           Veggie Salad        8.49
4201                      Veggie Salad Bowl       11.25
738                       Veggie Soft Tacos       11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [47]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [53]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [57]:
canned_soda = chipo[chipo['item_name'] == 'Canned Soda']
canned_soda[canned_soda['quantity'] > 1].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64